# requirements.txt
sentence-transformers
faiss-cpu
beautifulsoup4
nltk
google-generativeai
python-dotenv
pymupdf
networkx
plotly
fastapi
pyyaml
uvicorn
pydantic
langchain
chromadb
dataclasses-json

beautifulsoup4==4.12.3
lxml==5.2.1
numpy==1.26.4
networkx
dataclasses-json